openai
requests
aiohttp
flask
pyTelegramBotAPI
python-telegram-bot
fbchat==1.9.6
youtube_dl
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
beautifulsoup4
lxml
pandas
reportlab
pydub
PyPDF2
